## Session Objectives

- Introduction to Plotly

- Scatter Plots

- Line Charts

- Bar Plot

- Bubble Plot

- Box Plot

- Histograms

- Distplots

- Heatmaps

# 1. Introduction to Plotly

1. Until now we did visualisations using Matplotlib, Seaborn and Pandas. All of them produce static image files.
2. Plotly is company based out in Canada famous for it's products like Plotly and Dash
3. Plotly creates interactive visualisations in the form of HTML files
4. Drawback- Si eS ue koi ks
5. Dash is used to create live data based dashboards.

In [69]:
import numpy as np
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [2]:
match = pd.read_csv("matches - matches.csv")
delivery = pd.read_csv("deliveries.csv")

In [3]:
print(match.shape)
print(delivery.shape)

(636, 18)
(150460, 21)

In [4]:
match.sample()
# sample will give you random number

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
432,433,2013,Jaipur,2013-05-07,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Rajasthan Royals,0,9,AM Rahane,Sawai Mansingh Stadium,Aleem Dar,RJ Tucker,NaN

In [5]:
delivery.sample()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
19336,82,2,Delhi Daredevils,Mumbai Indians,19,1,Mohammad Asif,VY Mahesh,DS Kulkarni,0,...,0,0,0,0,0,0,0,Mohammad Asif,caught,A Nehra

In [6]:
ipl = delivery.merge(match,left_on='match_id',right_on = 'id')

In [26]:
ipl.shape

(150460, 39)

In [7]:
ipl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [8]:
ipl.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder', 'id', 'season', 'city', 'date', 'team1',
       'team2', 'toss_winner', 'toss_decision', 'result', 'dl_applied',
       'winner', 'win_by_runs', 'win_by_wickets', 'player_of_match', 'venue',
       'umpire1', 'umpire2', 'umpire3'],
      dtype='object')

# Scatter plot

### problem :
We are going to draw scatter plot between top 50 batsman avg and strikerate in ipl history

In [19]:
top50 = ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(50).index.tolist()

In [20]:
top50

['SK Raina',
 'V Kohli',
 'RG Sharma',
 'G Gambhir',
 'DA Warner',
 'RV Uthappa',
 'CH Gayle',
 'S Dhawan',
 'MS Dhoni',
 'AB de Villiers',
 'AM Rahane',
 'YK Pathan',
 'KD Karthik',
 'BB McCullum',
 'V Sehwag',
 'SR Watson',
 'Yuvraj Singh',
 'M Vijay',
 'SE Marsh',
 'JH Kallis',
 'AT Rayudu',
 'DR Smith',
 'KA Pollard',
 'SR Tendulkar',
 'PA Patel',
 'MK Pandey',
 'R Dravid',
 'AC Gilchrist',
 'JP Duminy',
 'MEK Hussey',
 'DPMD Jayawardene',
 'RA Jadeja',
 'SPD Smith',
 'KC Sangakkara',
 'MK Tiwary',
 'AJ Finch',
 'DA Miller',
 'WP Saha',
 'NV Ojha',
 'S Badrinath',
 'SV Samson',
 'BJ Hodge',
 'SC Ganguly',
 'DJ Hussey',
 'F du Plessis',
 'SS Tiwary',
 'DJ Bravo',
 'GJ Maxwell',
 'KK Nair',
 'TM Dilshan']

In [25]:
new_ipl = ipl[ipl.batsman.isin(top50)]
new_ipl

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150431,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,2,SR Watson,KL Rahul,BCJ Cutting,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150435,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,6,SR Watson,Sachin Baby,BCJ Cutting,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150436,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,1,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150437,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,2,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150438,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,3,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [30]:
runs = new_ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False)
balls = new_ipl.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False)

In [31]:
runs

batsman
SK Raina            4548
V Kohli             4423
RG Sharma           4207
G Gambhir           4132
DA Warner           4014
RV Uthappa          3778
CH Gayle            3651
S Dhawan            3561
MS Dhoni            3560
AB de Villiers      3486
AM Rahane           3057
YK Pathan           2922
KD Karthik          2903
BB McCullum         2755
V Sehwag            2728
SR Watson           2628
Yuvraj Singh        2591
M Vijay             2511
SE Marsh            2489
JH Kallis           2427
AT Rayudu           2416
DR Smith            2385
KA Pollard          2354
SR Tendulkar        2334
PA Patel            2322
MK Pandey           2223
R Dravid            2174
AC Gilchrist        2069
JP Duminy           1993
MEK Hussey          1977
DPMD Jayawardene    1808
RA Jadeja           1732
SPD Smith           1713
KC Sangakkara       1687
MK Tiwary           1648
AJ Finch            1604
DA Miller           1563
WP Saha             1557
NV Ojha             1553
S Badrinath         1441
SV Samson           1426
BJ Hodge            1400
SC Ganguly          1349
DJ Hussey           1322
F du Plessis        1295
SS Tiwary           1276
DJ Bravo            1262
GJ Maxwell          1229
KK Nair             1158
TM Dilshan          1153
Name: batsman_runs, dtype: int64

In [32]:
balls

batsman
V Kohli             3494
G Gambhir           3433
SK Raina            3369
RG Sharma           3274
S Dhawan            3005
RV Uthappa          2960
DA Warner           2902
MS Dhoni            2680
AM Rahane           2602
CH Gayle            2532
AB de Villiers      2402
KD Karthik          2360
JH Kallis           2291
BB McCullum         2181
M Vijay             2092
YK Pathan           2076
PA Patel            2060
Yuvraj Singh        2050
SR Tendulkar        2044
AT Rayudu           1964
SR Watson           1949
R Dravid            1918
SE Marsh            1913
MK Pandey           1901
V Sehwag            1833
DR Smith            1803
KA Pollard          1674
MEK Hussey          1648
JP Duminy           1634
AC Gilchrist        1555
DPMD Jayawardene    1522
RA Jadeja           1458
MK Tiwary           1444
KC Sangakkara       1424
NV Ojha             1356
SPD Smith           1333
SC Ganguly          1326
AJ Finch            1270
S Badrinath         1245
WP Saha             1219
SV Samson           1165
BJ Hodge            1153
DA Miller           1135
SS Tiwary           1111
DJ Hussey           1101
TM Dilshan          1047
F du Plessis        1043
DJ Bravo            1032
KK Nair              929
GJ Maxwell           780
Name: batsman_runs, dtype: int64

In [33]:
sr = (runs/balls)*100

In [34]:
sr

batsman
AB de Villiers      145.129059
AC Gilchrist        133.054662
AJ Finch            126.299213
AM Rahane           117.486549
AT Rayudu           123.014257
BB McCullum         126.318203
BJ Hodge            121.422376
CH Gayle            144.194313
DA Miller           137.709251
DA Warner           138.318401
DJ Bravo            122.286822
DJ Hussey           120.072661
DPMD Jayawardene    118.791064
DR Smith            132.279534
F du Plessis        124.161074
G Gambhir           120.361200
GJ Maxwell          157.564103
JH Kallis           105.936272
JP Duminy           121.970624
KA Pollard          140.621266
KC Sangakkara       118.469101
KD Karthik          123.008475
KK Nair             124.650161
M Vijay             120.028681
MEK Hussey          119.963592
MK Pandey           116.938453
MK Tiwary           114.127424
MS Dhoni            132.835821
NV Ojha             114.528024
PA Patel            112.718447
R Dravid            113.347237
RA Jadeja           118.792867
RG Sharma           128.497251
RV Uthappa          127.635135
S Badrinath         115.742972
S Dhawan            118.502496
SC Ganguly          101.734540
SE Marsh            130.109775
SK Raina            134.995548
SPD Smith           128.507127
SR Tendulkar        114.187867
SR Watson           134.838379
SS Tiwary           114.851485
SV Samson           122.403433
TM Dilshan          110.124164
V Kohli             126.588437
V Sehwag            148.827059
WP Saha             127.727646
YK Pathan           140.751445
Yuvraj Singh        126.390244
Name: batsman_runs, dtype: float64

In [36]:
sr = sr.reset_index()

In [37]:
sr

             batsman  batsman_runs
0     AB de Villiers    145.129059
1       AC Gilchrist    133.054662
2           AJ Finch    126.299213
3          AM Rahane    117.486549
4          AT Rayudu    123.014257
5        BB McCullum    126.318203
6           BJ Hodge    121.422376
7           CH Gayle    144.194313
8          DA Miller    137.709251
9          DA Warner    138.318401
10          DJ Bravo    122.286822
11         DJ Hussey    120.072661
12  DPMD Jayawardene    118.791064
13          DR Smith    132.279534
14      F du Plessis    124.161074
15         G Gambhir    120.361200
16        GJ Maxwell    157.564103
17         JH Kallis    105.936272
18         JP Duminy    121.970624
19        KA Pollard    140.621266
20     KC Sangakkara    118.469101
21        KD Karthik    123.008475
22           KK Nair    124.650161
23           M Vijay    120.028681
24        MEK Hussey    119.963592
25         MK Pandey    116.938453
26         MK Tiwary    114.127424
27          MS Dhoni    132.835821
28           NV Ojha    114.528024
29          PA Patel    112.718447
30          R Dravid    113.347237
31         RA Jadeja    118.792867
32         RG Sharma    128.497251
33        RV Uthappa    127.635135
34       S Badrinath    115.742972
35          S Dhawan    118.502496
36        SC Ganguly    101.734540
37          SE Marsh    130.109775
38          SK Raina    134.995548
39         SPD Smith    128.507127
40      SR Tendulkar    114.187867
41         SR Watson    134.838379
42         SS Tiwary    114.851485
43         SV Samson    122.403433
44        TM Dilshan    110.124164
45           V Kohli    126.588437
46          V Sehwag    148.827059
47           WP Saha    127.727646
48         YK Pathan    140.751445
49      Yuvraj Singh    126.390244

# How to Calculate Batting Average in Cricket?

Calculating the batting average of a player needs a few values. The first would be the total number of runs the player has scored. Second, the number of innings that the player has batted in and third, the number of times that the player has been dismissed or the number of times that the player has remained not out.

The batting average isnâ€™t the number of runs divided by the number of matches or the number of innings played. 
### To calculate the batting average of any player, you need to divide the total number of runs scored by that player by the number of times he or she has got out (or been dismissed). We can calculate the number of times the player has been dismissed by subtracting the number of not outs from the number of innings batted.

So, for instance, if a player, say Player A, plays 300 matches but bats in only 250 innings and is dismissed only in 200 of those, then the average is calculated using the 200 as the denominator and not 300 or 250. So, if Player A has made 10000 runs in his playing career, then his average would be calculated by dividing 10000 by 200. Therefore, the average of Player A would be 50.

In [42]:
out = ipl[ipl.player_dismissed.isin(top50)]
out

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
64,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,11,3,S Dhawan,MC Henriques,STR Binny,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
116,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,4,Yuvraj Singh,DJ Hooda,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
165,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,7,3,CH Gayle,TM Head,DJ Hooda,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
234,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,3,SR Watson,S Aravind,A Nehra,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150317,636,1,Sunrisers Hyderabad,Royal Challengers Bangalore,18,3,BCJ Cutting,NV Ojha,SR Watson,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150402,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,11,3,CH Gayle,V Kohli,BCJ Cutting,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150416,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,V Kohli,AB de Villiers,BB Sran,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150422,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,14,5,AB de Villiers,KL Rahul,Bipul Sharma,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150438,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,3,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [44]:
outs = out.player_dismissed.value_counts()
outs

SK Raina            134
G Gambhir           131
RG Sharma           129
RV Uthappa          128
V Kohli             118
KD Karthik          117
S Dhawan            109
PA Patel            107
Yuvraj Singh        101
DA Warner           100
V Sehwag             99
YK Pathan            98
BB McCullum          98
M Vijay              95
MS Dhoni             94
AB de Villiers       91
AM Rahane            91
AT Rayudu            89
CH Gayle             89
SR Watson            85
JH Kallis            85
DR Smith             84
KA Pollard           82
MK Pandey            78
R Dravid             77
AC Gilchrist         76
NV Ojha              74
RA Jadeja            72
SR Tendulkar         69
KC Sangakkara        65
DPMD Jayawardene     64
SE Marsh             63
WP Saha              61
AJ Finch             59
MK Tiwary            56
SV Samson            56
DJ Bravo             55
SC Ganguly           53
MEK Hussey           51
JP Duminy            50
DJ Hussey            49
GJ Maxwell           49
S Badrinath          47
SPD Smith            46
KK Nair              46
DA Miller            45
SS Tiwary            45
F du Plessis         43
TM Dilshan           43
BJ Hodge             42
Name: player_dismissed, dtype: int64

In [60]:
avg = runs/outs

In [61]:
avg = avg.reset_index()
avg

               index          0
0     AB de Villiers  38.307692
1       AC Gilchrist  27.223684
2           AJ Finch  27.186441
3          AM Rahane  33.593407
4          AT Rayudu  27.146067
5        BB McCullum  28.112245
6           BJ Hodge  33.333333
7           CH Gayle  41.022472
8          DA Miller  34.733333
9          DA Warner  40.140000
10          DJ Bravo  22.945455
11         DJ Hussey  26.979592
12  DPMD Jayawardene  28.250000
13          DR Smith  28.392857
14      F du Plessis  30.116279
15         G Gambhir  31.541985
16        GJ Maxwell  25.081633
17         JH Kallis  28.552941
18         JP Duminy  39.860000
19        KA Pollard  28.707317
20     KC Sangakkara  25.953846
21        KD Karthik  24.811966
22           KK Nair  25.173913
23           M Vijay  26.431579
24        MEK Hussey  38.764706
25         MK Pandey  28.500000
26         MK Tiwary  29.428571
27          MS Dhoni  37.872340
28           NV Ojha  20.986486
29          PA Patel  21.700935
30          R Dravid  28.233766
31         RA Jadeja  24.055556
32         RG Sharma  32.612403
33        RV Uthappa  29.515625
34       S Badrinath  30.659574
35          S Dhawan  32.669725
36        SC Ganguly  25.452830
37          SE Marsh  39.507937
38          SK Raina  33.940299
39         SPD Smith  37.239130
40      SR Tendulkar  33.826087
41         SR Watson  30.917647
42         SS Tiwary  28.355556
43         SV Samson  25.464286
44        TM Dilshan  26.813953
45           V Kohli  37.483051
46          V Sehwag  27.555556
47           WP Saha  25.524590
48         YK Pathan  29.816327
49      Yuvraj Singh  25.653465

## NO of ways we rename columns name in pandas
#### rename specific columns: df.rename(columns = {'old_col1':'new_col1', 'old_col2':'new_col2'}, inplace = True)
#### rename all columns: df.columns = ['new_col1', 'new_col2', 'new_col3', 'new_col4']
#### rename specific column: df.columns = df.columns.str.replace('old_char', 'new_char')

In [62]:
avg.columns=['batsman','avg']
avg

             batsman        avg
0     AB de Villiers  38.307692
1       AC Gilchrist  27.223684
2           AJ Finch  27.186441
3          AM Rahane  33.593407
4          AT Rayudu  27.146067
5        BB McCullum  28.112245
6           BJ Hodge  33.333333
7           CH Gayle  41.022472
8          DA Miller  34.733333
9          DA Warner  40.140000
10          DJ Bravo  22.945455
11         DJ Hussey  26.979592
12  DPMD Jayawardene  28.250000
13          DR Smith  28.392857
14      F du Plessis  30.116279
15         G Gambhir  31.541985
16        GJ Maxwell  25.081633
17         JH Kallis  28.552941
18         JP Duminy  39.860000
19        KA Pollard  28.707317
20     KC Sangakkara  25.953846
21        KD Karthik  24.811966
22           KK Nair  25.173913
23           M Vijay  26.431579
24        MEK Hussey  38.764706
25         MK Pandey  28.500000
26         MK Tiwary  29.428571
27          MS Dhoni  37.872340
28           NV Ojha  20.986486
29          PA Patel  21.700935
30          R Dravid  28.233766
31         RA Jadeja  24.055556
32         RG Sharma  32.612403
33        RV Uthappa  29.515625
34       S Badrinath  30.659574
35          S Dhawan  32.669725
36        SC Ganguly  25.452830
37          SE Marsh  39.507937
38          SK Raina  33.940299
39         SPD Smith  37.239130
40      SR Tendulkar  33.826087
41         SR Watson  30.917647
42         SS Tiwary  28.355556
43         SV Samson  25.464286
44        TM Dilshan  26.813953
45           V Kohli  37.483051
46          V Sehwag  27.555556
47           WP Saha  25.524590
48         YK Pathan  29.816327
49      Yuvraj Singh  25.653465

In [63]:
avg = avg.merge(sr,on='batsman')

avg

             batsman        avg  batsman_runs
0     AB de Villiers  38.307692    145.129059
1       AC Gilchrist  27.223684    133.054662
2           AJ Finch  27.186441    126.299213
3          AM Rahane  33.593407    117.486549
4          AT Rayudu  27.146067    123.014257
5        BB McCullum  28.112245    126.318203
6           BJ Hodge  33.333333    121.422376
7           CH Gayle  41.022472    144.194313
8          DA Miller  34.733333    137.709251
9          DA Warner  40.140000    138.318401
10          DJ Bravo  22.945455    122.286822
11         DJ Hussey  26.979592    120.072661
12  DPMD Jayawardene  28.250000    118.791064
13          DR Smith  28.392857    132.279534
14      F du Plessis  30.116279    124.161074
15         G Gambhir  31.541985    120.361200
16        GJ Maxwell  25.081633    157.564103
17         JH Kallis  28.552941    105.936272
18         JP Duminy  39.860000    121.970624
19        KA Pollard  28.707317    140.621266
20     KC Sangakkara  25.953846    118.469101
21        KD Karthik  24.811966    123.008475
22           KK Nair  25.173913    124.650161
23           M Vijay  26.431579    120.028681
24        MEK Hussey  38.764706    119.963592
25         MK Pandey  28.500000    116.938453
26         MK Tiwary  29.428571    114.127424
27          MS Dhoni  37.872340    132.835821
28           NV Ojha  20.986486    114.528024
29          PA Patel  21.700935    112.718447
30          R Dravid  28.233766    113.347237
31         RA Jadeja  24.055556    118.792867
32         RG Sharma  32.612403    128.497251
33        RV Uthappa  29.515625    127.635135
34       S Badrinath  30.659574    115.742972
35          S Dhawan  32.669725    118.502496
36        SC Ganguly  25.452830    101.734540
37          SE Marsh  39.507937    130.109775
38          SK Raina  33.940299    134.995548
39         SPD Smith  37.239130    128.507127
40      SR Tendulkar  33.826087    114.187867
41         SR Watson  30.917647    134.838379
42         SS Tiwary  28.355556    114.851485
43         SV Samson  25.464286    122.403433
44        TM Dilshan  26.813953    110.124164
45           V Kohli  37.483051    126.588437
46          V Sehwag  27.555556    148.827059
47           WP Saha  25.524590    127.727646
48         YK Pathan  29.816327    140.751445
49      Yuvraj Singh  25.653465    126.390244

In [64]:
avg.rename(columns = {'batsman_runs':'strike_rate'}, inplace = True)

In [65]:
avg

             batsman        avg  strike_rate
0     AB de Villiers  38.307692   145.129059
1       AC Gilchrist  27.223684   133.054662
2           AJ Finch  27.186441   126.299213
3          AM Rahane  33.593407   117.486549
4          AT Rayudu  27.146067   123.014257
5        BB McCullum  28.112245   126.318203
6           BJ Hodge  33.333333   121.422376
7           CH Gayle  41.022472   144.194313
8          DA Miller  34.733333   137.709251
9          DA Warner  40.140000   138.318401
10          DJ Bravo  22.945455   122.286822
11         DJ Hussey  26.979592   120.072661
12  DPMD Jayawardene  28.250000   118.791064
13          DR Smith  28.392857   132.279534
14      F du Plessis  30.116279   124.161074
15         G Gambhir  31.541985   120.361200
16        GJ Maxwell  25.081633   157.564103
17         JH Kallis  28.552941   105.936272
18         JP Duminy  39.860000   121.970624
19        KA Pollard  28.707317   140.621266
20     KC Sangakkara  25.953846   118.469101
21        KD Karthik  24.811966   123.008475
22           KK Nair  25.173913   124.650161
23           M Vijay  26.431579   120.028681
24        MEK Hussey  38.764706   119.963592
25         MK Pandey  28.500000   116.938453
26         MK Tiwary  29.428571   114.127424
27          MS Dhoni  37.872340   132.835821
28           NV Ojha  20.986486   114.528024
29          PA Patel  21.700935   112.718447
30          R Dravid  28.233766   113.347237
31         RA Jadeja  24.055556   118.792867
32         RG Sharma  32.612403   128.497251
33        RV Uthappa  29.515625   127.635135
34       S Badrinath  30.659574   115.742972
35          S Dhawan  32.669725   118.502496
36        SC Ganguly  25.452830   101.734540
37          SE Marsh  39.507937   130.109775
38          SK Raina  33.940299   134.995548
39         SPD Smith  37.239130   128.507127
40      SR Tendulkar  33.826087   114.187867
41         SR Watson  30.917647   134.838379
42         SS Tiwary  28.355556   114.851485
43         SV Samson  25.464286   122.403433
44        TM Dilshan  26.813953   110.124164
45           V Kohli  37.483051   126.588437
46          V Sehwag  27.555556   148.827059
47           WP Saha  25.524590   127.727646
48         YK Pathan  29.816327   140.751445
49      Yuvraj Singh  25.653465   126.390244

In [67]:
avg.columns

Index(['batsman', 'avg', 'strike_rate'], dtype='object')

In [71]:
# plot scatter
trace = go.Scatter(x=avg.avg,y=avg.strike_rate,mode='markers')

data = [trace]

layout = go.Layout(title='Batsman Avg vs SR',
                  xaxis={'title':'Batsman Average'},
                  yaxis={'title':'Batsman Strikrate'})
fig = go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [78]:
# plot scatter
trace = go.Scatter(x=avg.avg,y=avg.strike_rate,
                   mode='markers',text=avg.batsman
                  ,marker={'color':'#00a65a','size':15})

data = [trace]

layout = go.Layout(title='Batsman Avg vs SR',
                  xaxis={'title':'Batsman Average'},
                  yaxis={'title':'Batsman Strikrate'})
fig = go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'

2. Line Chart

In [75]:
# year by year performance

single = ipl[ipl.batsman=='V Kohli']
performance = single.groupby('season')['batsman_runs'].sum().reset_index()
performance

   season  batsman_runs
0    2008           165
1    2009           246
2    2010           307
3    2011           557
4    2012           364
5    2013           639
6    2014           359
7    2015           505
8    2016           973
9    2017           308

In [77]:
# plot scatter
trace = go.Scatter(x=performance.season,
                   y=performance.batsman_runs,
                   mode='lines',marker={'color':'#00a65a'})

data = [trace]

layout = go.Layout(title='Year by Year Performnace',
                  xaxis={'title':'Season'},
                  yaxis={'title':'Runs'})
fig = go.Figure(data=data,layout=layout)
pyo.plot(fig,filename='year by year performance')

C:\Users\Nihar\anaconda3\lib\site-packages\plotly\offline\offline.py:562: UserWarning:

Your filename `year by year performance` didn't end with .html. Adding .html to the end of your file.

'year by year performance.html'

In [ ]:
# year by year batsman performance

single = ipl[ipl.batsman=='V Kohli']
performance = single.groupby('season')['batsman_runs'].sum().reset_index()
performance

single = ipl[ipl.batsman=='']
performance = single.groupby('season')['batsman_runs'].sum().reset_index()
performance